*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
.kotlin
app/google-services.json
**/build/
/app/release


# IOS
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/*.gcno
*.xcworkspacedata
*/xcuserdata
invoicer/invoicer.xcodeproj/xcuserdata/*
invoicer/invoicer.xcodeproj/project.xcworkspace/xcuserdata/*
**/GoogleService-Info.plist
